.navbar {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.brand {
  font-size: 1.4em;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar a {
  margin: 0 20px;
  transition: 300ms;
}

.navbar div a {
  margin: 0;
  transition: 300ms;
}

.navbar a:hover {
  color: var(--mainColor);
}

.navbar div a:hover svg {
  background-color: var(--whiteColor);
  color: var(--mainColor);
}

.navbar div {
  display: flex;
  flex-flow: nowrap row;
}

.navbar input {
  height: 39px;
  border: none;
  background-color: var(--grayColor);
  padding: 20px;
  transition: 500ms ease-in;
}

.navbar input:focus-visible {
  outline: none;
  background-color: var(--whiteColor);
  color: var(--blackColor);
}

.navbar svg {
  width: 40px;
  height: 40px;
  background-color: var(--mainColor);
  transition: 300ms;
}

/* RESPONSIVE */
@media (max-width: 960px) {
  .navbar {
    flex-flow: wrap;
    z-index: 99;
    height: 200px;
  }
}

@media (max-width: 460px) {
  .navbar {
    flex-flow: wrap;
    height: 200px;
  }
}
